# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo

# ======================
# Output / results
# ======================
*.csv
*.png
*.pdf

# ======================
# Temporary / old work
# ======================
old/
l2_treeboost_nietgoed/

# ======================
# Mac
# ======================
.DS_Store
